.head{
    display: flex;
    justify-content: center;
    background: black;
    font-size: 20px;
    height: 80px;
    color: white;
}
.head div{
    padding: 20px;
}
.head div a{
    text-decoration: none;
    color: white;
}
.logout{
    cursor: pointer;
    margin-top: -1px;
}